<!-- 読み込むscssファイル -->
<%= stylesheet_link_tag "users/admin_show", :media => "all" %>

<main class="main">
  <div class="for-background">
    <div class="container-wrapper">
        <div class="containers">
            <div class="left-container">
          	    <div class="contents left">
	          	    <div class="user-image">
		          	    ユーザー画像
	          		</div>
	            </div>
            </div>
            <div class="right-container">
	          	<div class="contents right">
	          		<div class="user-name">ユーザー名</div><span>編集アイコン（歯車）</span>
	        		<div class="user-introduce">自己紹介テキスト</div>
	        		<div class="user-email">メールアドレス</div>
	        		<div class="user-password">パスワード</div>
	            </div>
      		</div>
        </div>
    </div>
  </div>
</main>
