<!-- 読み込むscssファイル -->
<%= stylesheet_link_tag "users/contact", :media => "all" %>

<main class="main">
	<div class="for-background">
		<div class="container-wrapper">
			<div class="page-title">
				<h1>お問い合わせ窓口</h1>
				<hr class="hr-first">
			</div>
			<div class="contact-info">
				<div class="title">
					<h2>お問い合わせ先について</h2>
				</div>
				<div class="text">
						<p>本ポリシーに関するお問い合わせは，下記のメールアドレスまでお願いいたします。</p>
						<p>
						   Eメールアドレス：qpflapper.1007@gmail.com<br>
						   TwitterID：とくやまん<%= link_to "(@tokkun_ride)", "https://twitter.com/tokkun_ride?lang=ja" %>
						</p>
				</div>
			</div>
		</div>
	</div>
</main>