.bg-slider {
	width: 100%;
	height: 100vh;
	background-position:center center;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;

	.for-background {
		background: rgba(0, 0, 0,0.3);
		height:100%;
		width:100%;
	}

	.main-search{

		padding-bottom: 100px;

		#m-search-form {
			height: 60px;
		}

		#m-search-box {
			border-radius:5px;
			border: none;
			font-size: 20px;
			height: 60px;
			line-height: 30px;
			margin-right: 20px;
			outline: 0;
			width: 400px;
		}

		#m-search-btn {
			border-radius: 50%;
			border:none;
			color:#000;
			height: 60px;
			outline: 0;
			width:60px;
		}
		#m-search-btn:hover{
			background:#000;
			color:#fff;
			-webkit-transition: all .40s;
			   -moz-transition: all .40s;
			    -ms-transition: all .40s;
			     -o-transition: all .40s;
			        transition: all .40s;
		}
	}

	.description {
		display: flex;
		justify-content: space-around;

		.d_image {
			height: 120px;
			width: 120px;
		}

		.search, .share {
			display: flex;
			flex-direction: column;

			.image {
				padding: 20px;
			}

			.text {
				background-color: rgba(0, 0, 0, 0.3);
				border-radius: 10px;
				font-size: 20px;
				margin: 0 auto;
				text-align: left;

				span {
					font-size: 40px;
				}
			}
		}
	}
}



.containers {
	color: #fff;
	font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;
	text-align: center;
	margin-top: 100px;

	.page-title {
		font-size: 80px;
	}

	.page-text {
		font-size: 30px;
		margin-bottom: 50px;
	}
}

/* タブレット */
@media(max-width: 1024px) {

	.bg-slider {
		height: 150vh;
	}

	.description {

		.d_image {
			height: 120px;
			width: 120px;
		}

		.search, .share {
			display: flex;
			flex-direction: column;

			.image {
				padding: 20px;
			}

			.text {
				font-size: 16px;
				max-width: 90%;

				span {
					font-size: 35px;
				}
			}
		}
	}

}
/* スマートフォン */
@media(max-width: 768px) {

	header {
		display: none;
	}

	.bg-slider {
		height: 200vh;
	}

	.containers {
	margin-top: 100px;

		.page-title {
			font-size: 45px;
		}

		.page-text {
			font-size: 20px;
			margin-bottom: 50px;
		}

		.main-search{

			#m-search-form {
				height: 60px;
			}

			#m-search-box {
				height: 40px;
				line-height: 30px;
				margin-right: 20px;
				width: 200px;
			}

			#m-search-btn {
				height: 40px;
				width:40px;
			}

			#m-search-btn:hover{
				background:#000;
				color:#fff;
				-webkit-transition: all .40s;
				   -moz-transition: all .40s;
				    -ms-transition: all .40s;
				     -o-transition: all .40s;
				        transition: all .40s;
			}
		}

		.description {
			display: block;

			.search, .share {
				.image {
					padding: 20px;
				}

				.text {
					font-size: 16px;
					width: 90%;

					span {
						font-size: 35px;
					}
				}
			}
		}
	}
}