/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 */

@import "font-awesome";


/* 全体 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

ul {
	list-style: none;
}

body {
	 display: flex;
	 flex-direction: column;
	 font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;
	 min-height: 100vh;
}


/* aだけに指定してもtext-decorationは効かないので注意 */

a, a:visited, a:focus, a:hover {
        text-decoration: none;
        color: #000;
    }

.fa-twitter-square {
	color: #1DA1F2;
}


.fa-facebook-square {
	color: #3B5998;
	}

.fa-google-plus-square {
	color: #DB4437;
}

/* ヘッダー */

.header {
	height: 50px;
	max-width: 1280px;

	.header-search-mobile {
		display: none;
	}
}
.header-container {
	display: flex;
	height: 50px;
	line-height: 50px;
	justify-content: space-around;

	.p-image {
		width:200px;

		.admin-image {
			border-radius: 50%;
			border: solid 1px;
		}
	}

}

.header-search .header-search-mobile #search-box, #search-btn {
    line-height: 20px;
}

#search-box {
	border: solid 1px;
	border-radius: 3px;
	height: 30px;
	line-height: 30px;
	outline: 0;
	width: 200px;
}

#search-btn {
	line-height: 30px;
	border-radius:5px;
	color:#000;
	border:none;
	outline: 0;
	width:30px;
}
#search-btn:hover{
	background:#000;
	color:#fff;
	-webkit-transition: all .40s;
	   -moz-transition: all .40s;
	    -ms-transition: all .40s;
	     -o-transition: all .40s;
	        transition: all .40s;
}



.header-menus {
	display: flex;
	justify-content: space-around;
	width:300px;
	height: 50px;

	.humburger {
		display: none;
	}
}

.header-menus li {
	min-width: 33%;
	text-align: center;
}

.h-1:hover, .h-2:hover, .h-3:hover {
	background-color: #000;
	transition: 1s;
	a {
		color: #fff;
	}
}

.app-title {
	padding-top: 5px;
	text-align: center;
}



/*ページネーション*/

.paginate {
	margin: 10px 0;
	text-align: center;
}
.pagination {
	margin: 0 auto;
}

.pagination-text {
	text-align: right;
}
.item-total {
	padding-left: 600px;
}


/* フッター */

footer {
	border-top: solid 1px;
	height: 100px;
	margin-top: auto;
	width: 100%;

	.footer-contents {
		display: flex;
		justify-content: space-around;
	}
}

.mobile-footer {
	display: none;
}

.service-info, .privacy-info, .contact-info, .footer-sign-out, .unsubscribe, .copy {
	max-width: 90%;
}

.footer-contents {
	display: flex;
	justify-content: space-around;
	height: 50px;
	line-height: 50px;
}

.copyright {
	text-align: center;
}

.alert-text {
    padding: 0 15px;
    border-radius: 4px;
    height: 0.1px;
    text-align: center;
    z-index: 10;
}

.alert-danger {
    background-color: #fed6d6;
    border-color: #fda4a4;
    color: #fa4141;
}
.notice {
    background-color: #ccffcc;
    border-color: #ccffcc;
    color: #008000;
}

/* スマートフォン */
@media(max-width: 768px) {
	.header {
		height: 95px;

		.header-container {

			.app-title {
				margin: 0 auto;
			}
		}

		.header-search {
			display: none;
		}

		.header-search-mobile {
			display: block;
			height: 40px;
			line-height: 40px;
			text-align: center;
			width: 100%;

			#search-box {
				min-width: 80%;
			}

			#search-btn {
				width:30px;
			}
		}
	}
	.header-menus {
		position: relative;
		width: 0px;

		.menu {
			display: none;
		}
	}

	.pc-footer {
		display: none;
	}

	footer {
		height: 50px;
		border: none;
	}

	.mobile-footer {
		display: block;
		position: fixed;
		bottom: 0px;
		width: 100%;

		.footer-menus {
			background-color: rgba(255, 255, 255 ,0.8);
		}

		ul {
			display: flex;
			justify-content: space-around;

			li {
				/*background-color: ;*/
				padding: 10px;
			}
		}
	}
}