.container {
	max-width: 90%;
	margin: 0 auto;
	margin-top: 50px;

	.page-title {
		margin-bottom: 50px;
	}

	hr {
		margin: 10px 0 ;
	}



	.user-container {
		display: flex;
		margin-bottom: 20px;

		table {

			td {
				height: 100px;
			}
		}
	}


	.pagination {
		display: flex;
		justify-content: flex-end;
	}

}