main {
	width:100%;
	word-break: break-all;

	.container-wrapper {
		max-width: 90%;
		margin: 0 auto;
		padding-top: 30px;
	}
}

.top-container {
	background-color: #f9ebd1;
	border-radius: 30px;
	display: flex;
	justify-content: space-around;
	margin: 10px 0;
	padding: 50px 0;

	.left-contents {
		flex-basis: 30%;
		text-align: center;

		img {
			border-radius: 50%;
			height: 200px;
			width: 200px;
			object-fit: cover;
		}
	}
	.right-contents {
		flex-basis: 70%;

		.user-name .title, .user-introduce .title {
			width:200px;
			font-weight: bold;
			font-size: 20px;
			border-bottom: solid 1px;
		}

		.user-name, .user-introduce {
			margin-bottom: 20px;
		}
	}
}

.main-container {
	margin-bottom: 50px;

	.page-title {
		display: flex;
		justify-content: center;
		margin-bottom: 50px;
		text-align: center;

		h2 {
			padding: 10px;
			border-bottom: solid 1px;
		}

		.now {
			border-bottom: solid 3px;
		}
	}

	.comments-all {
		max-width: 70%;
		margin: 0 auto;

		.link {
			font-weight: bold;
			text-decoration: underline;
		}
	}

	.spots-container {
		position: relative;
		border:solid 2px;
		border-color: #81a47a;
		border-radius:5px;
		display: flex;
		margin: 20px 0;
		padding: 20px;

		.left-contents {
			margin-right: 50px;

			img {
				border-radius: 5px;
				height: 200px;
				width: 200px;
				object-fit: cover;
			}
		}

		.upper-contents {
			display: flex;
			justify-content: space-between;
			height: 50px;
			line-height: 50px;

			.comment-title {
				font-size: 30px;
				font-weight: bold;
				font-style: oblique;
				margin-right: 20px;
			}

			.edit {
				bottom: 0;
				height: 32px;
				position: absolute;
				right: 0;
				text-align: center;
			}
		}

		.lower-contents {
			display: flex;
			height: 50px;

			img {
				border: solid 1px;
				border-radius: 50%;

			}

			.item {
				margin-right: 20px;
			}
		}
	}

	.pagination {
		display: flex;
		justify-content: flex-end;
	}
}

/* タブレット */
@media(max-width: 1024px) {

	.main-container {

		.comments-all {
			max-width: 80%;
		}

		.spots-container {

			.spot-image img {
				height: 150px;
				width: 150px;
				object-fit: cover;
			}

			.left-contents {
				margin-right: 50px;
			}

			.lower-contents {

				.comment-text {
					font-size: 15px;
				}

				.like-comments-count {
					height: 35px;
					line-height: 35px;
				}
			}
		}
		.pagination {
			font-size: 15px;
		}
	}

}
/* スマートフォン */
@media(max-width: 768px) {
	main {

		.container-wrapper {
			max-width: 90%;
			margin: 0 auto;
			padding-top: 30px;
		}
	}

	.top-container {
		display: block;
		padding: 20px 0;

		.left-contents {
			margin-bottom: 30px;
			img {
				height: 150px;
				width: 150px;
			}
		}
		.right-contents {
			margin: 0 auto;
			width: 90%;

			.user-name .title, .user-introduce .title {
				width:100%;
			}

			.user-setting {
				text-align: right;
			}
		}
	}

	.main-container {

		.comments-all {
			max-width: 90%;
		}

		.spots-container {

			.spot-image img {
				height: 100px;
				width: 100px;
				object-fit: cover;
			}

			.left-contents {
				margin-right: 10px;
			}

			.right-contents {

				.upper-contents {
					font-size: 12px;
					height: 20px;
					margin-bottom: 10px;

					.edit {
						height: 30px;
						position: absolute;
						text-align: center;
						bottom: 0;
						right: 0;
						width:30px;
					}

					.comment-title {
						font-size: 18px;
						height: 18px;
						line-height: 18px;
					}
				}

				.lower-contents {

					.comment-text {
						font-size: 10px;
					}
				}
			}
		}

		.pagination {
			font-size: 15px;
		}
	}
}