main {
	width:100%;

	.container-wrapper {
		max-width: 90%;
		margin: 0 auto;
		padding-top: 100px;
	}
}

.top-container {
	background-color: #f9ebd1;
	border-radius: 30px;
	display: flex;
	justify-content: space-around;
	margin: 50px 0;
	padding: 50px 0;

	.left-contents {
		flex-grow: 1;
		text-align: center;

		img {
			border-radius: 50%;
		}
	}
	.right-contents {
		flex-grow: 1;

		.user-name .title, .user-introduce .title {
			width:200px;
			font-weight: bold;
			font-size: 20px;
			border-bottom: solid 1px;
		}

		.user-name, .user-introduce {
			margin-bottom: 20px;
		}
	}
}

.main-container {
	margin-bottom: 50px;
	.page-title {
		display: flex;
		justify-content: center;
		margin-bottom: 50px;
		text-align: center;

		h2 {
			padding: 10px;
			border-bottom: solid 1px;
		}

		.now {
			border-bottom: solid 3px;
		}
	}

	.likes-all {
		max-width: 70%;
		margin: 0 auto;

		.link {
			font-weight: bold;
			text-decoration: underline;
		}
	}

	.spots-container {
		border:solid 2px;
		border-color: #81a47a;
		border-radius:5px;
		display: flex;
		margin: 20px 0;
		padding: 20px;

		.left-contents {
			margin-right: 100px;
		}

		.upper-contents {
			display: flex;
			font-size: 30px;
			font-weight: bold;
			height: 50px;
			line-height: 50px;

			.spot-name {
				margin-right: 20px;
			}
		}

		.lower-contents {
			display: flex;
			font-size: 20px;
			line-height: 50px;
			height: 50px;

			img {
				border: solid 1px;
				border-radius: 50%;

			}

			.item {
				margin-right: 20px;
			}
		}
	}

	.spots-container:hover {
		border-color: red;
		transition: 0.5s;
	}

	.pagination {
		display: flex;
		justify-content: flex-end;
	}
}